In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({
    'Dist': ['311m', '311m', '311m', '311m', '311m', '311m'],
    'Track': ['Cran', 'Cran', 'Cran', 'Cran', 'Cran', 'Cran'],
    'EVENT_ID': ['174331755', '174331755', '174331755', '174331755', '174331755', '174331755'],
    'Date': ['2020-10-19', '2020-10-19', '2020-10-19', '2020-10-19', '2020-10-19', '2020-10-19'],
    '1': [34.00, 34.00, 34.00, 34.00, 34.00, 34.00],
    '2': [5.18, 5.18, 5.18, 5.18, 5.18, 5.18],
    '3': [19.10, 19.10, 19.10, 19.10, 19.10, 19.10],
    'TGR1': [1, 2, 0, 3, 2, 1],
    'TGR2': [0, 1, 2, 1, 2, 2]
})

df

   Dist Track   EVENT_ID        Date     1     2     3  TGR1  TGR2
0  311m  Cran  174331755  2020-10-19  34.0  5.18  19.1     1     0
1  311m  Cran  174331755  2020-10-19  34.0  5.18  19.1     2     1
2  311m  Cran  174331755  2020-10-19  34.0  5.18  19.1     0     2
3  311m  Cran  174331755  2020-10-19  34.0  5.18  19.1     3     1
4  311m  Cran  174331755  2020-10-19  34.0  5.18  19.1     2     2
5  311m  Cran  174331755  2020-10-19  34.0  5.18  19.1     1     2

In [ ]:
df['BB'] = ()